<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Titolo -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/home']">
            <div class="sidebar-brand-text mx-3"><strong> Sharing~Notes</strong></div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Tasto dashboard -->
        <li class="nav-item active my-1">
            <a class="nav-link ms-2" [routerLink]="['/home']">
                <i class="fas fa-fw fa-home"></i>
                <span class="ms-1">Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Profilo personale -->
        <div class="sidebar-heading ms-1">
            Profile
        </div>
        <!-- Tasto Pagina delle note -->
        <li class="nav-item">
            <a class="nav-link ms-2" [routerLink]="['/home/profile/notes']">
                <i class="fas fa-fw fa-book"></i>
                <span class="ms-1">My Notes</span>
            </a>
        </li>
        <!-- Tasto Pagina delle recensioni -->
        <li class="nav-item">
            <a class="nav-link ms-2" [routerLink]="['/home/profile/reviews']">
                <i class="fas fa-fw fa-edit"></i>
                <span class="ms-1">My Reviews</span>
            </a>
        </li>
        <!-- Tasto Pagina delle richieste -->
        <li class="nav-item">
            <a class="nav-link ms-2" [routerLink]="['/home/profile/request']">
                <i class="fas fa-fw fa-question-circle"></i>
                <span class="ms-1">My Requests</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading ms-1">
            Notifications
        </div>
        <!-- Tasto per accedere alle chat -->
        <li class="nav-item">
            <a class="nav-link collapsed ms-2" [routerLink]="['/home/messages']">
                <i class="fas fa-comments fa-fw"></i>
                <span class="ms-1">Chat</span>
            </a>
        </li>
        <!-- Tasto per accedere agli updates -->
        <li class="nav-item">
            <a class="nav-link ms-2" [routerLink]="['/home/request']">
                <i class="fas fa-file-alt fa-fw"></i>
                <span class="ms-1">Request</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Motto della pagina -->
        <div class="sidebar-card d-lg-flex mt-2">
            <p class="text-center mb-2">Be kind and share knowledge &hearts;</p>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Barra di ricerca -->
                <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    autocomplete="off">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            [(ngModel)]="searchText" autocomplete="off" name="name" aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a [routerLink]="['/home']" routerLinkActive="router-link-active">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button></a>
                        </div>
                    </div>
                </form>
                <!-- Bottone per aggiungere una nota -->
                <button type="button" (click)="openDialog()" class="btn btn-primary d-none d-md-block "><i
                        class="fas fa-plus fa-sm text-white-50 mr-3"></i>New Note</button>
            </nav>
            <!-- End of Topbar -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>