<div class="col-4 offset-4 my-4">
    <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" />
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="password" />
        </mat-form-field>

        <button type="submit" [disabled]="!form.valid" class="success-invia" mat-raised-button>
            Invia
        </button>
    </form>
</div>