<div class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col-12">
            <!-- Titolo -->
            <h2>New Request</h2>
            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
                <!-- Spazio per inserire il titolo e la descrizione-->
                <mat-form-field class="w-100" MatFormFieldControl>
                    <mat-label>Insert Subject</mat-label>
                    <input type="text" formControlName="title" matInput placeholder="Insert subject" />
                </mat-form-field>
                <mat-form-field class="w-100" MatFormFieldControl>
                    <mat-label>Insert description</mat-label>
                    <input type="text" formControlName="testo" matInput placeholder="Insert description" />
                </mat-form-field>
                <!-- Bottone submit -->
                <div class="justify-content-center text-center align-items-center">
                    <button type="submit" mat-button mat-raised-button class=" mt-4 btn btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
