<div class="container-fluid">
    <div class="row no-gutters">
        <button type="button" (click)="openDialog()" class="btn btn-primary d-none d-md-block "><i
            class="fas fa-plus fa-sm text-white-50 mr-3 "></i>New Chat</button>
        <div class="col-12 mb-4 mt-3" *ngFor="let item of listMessage">
            <a class="text-decoration-none" [routerLink]="['/home/chat',item?._id]">
                <div class="card shadow h-100 py-2 ">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 mr-2 ">
                                <div class="h5 mr-4 font-weight-bold text-primary text-capitalize mb-1">
                                    {{item?.name}}</div>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>