<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="m-4 p-4">
                <h1><strong> {{note?.title}}</strong></h1>
                <h2> {{note?.description}}</h2>
                <div>
                    <span> Rating: </span>
                    <span class="ratings ml-1"> <span class="product-rating"> {{note?.rating}} </span><span>/5</span>
                        <span class="stars ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>