.card-hover:hover {
  cursor: pointer;
  max-height: 250px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  overflow-y: hidden;
  transform: scale(1);
  box-shadow: -1px 12px 22px 2px rgba(0, 0, 0, 0.2) !important;
}

.card-hover {
  overflow-y: hidden;
  max-height: 250px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transform: scale(0.95);
}
