<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="m-4 p-4">
                <h1><strong> {{note?.title}}</strong></h1>
                <h2> {{note?.description}}</h2>
                <div>
                    <span> Rating: </span>
                    <span class="ratings ml-1"> <span class="product-rating"> {{note?.rating}} </span><span>/5</span>
                        <span class="stars ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                    </span>
                </div>
            </div>
            <!-- Bottone -->
            <div class="w-100 d-inline">
                <a href="{{note?.fileUrl}}" download="{{note?.title}}" target="_blank">
                    <button type="button" class="btn btn-success p-2 mr-2 ml-5">
                        <i class="fas fa-download fa-sm d-inline-block text-white-50 mr-2"></i>
                        Download File</button></a>
                <button type="button" (click)="openDialog()" class="btn btn-primary p-2 mr-2 ml-3"><i
                        class="fas d-inline-block fa-pencil-alt fa-sm text-white-50 mr-2"></i>Add review</button>
            </div>
        </div>

        <!-- Recensione -->

        <div class="row m-3 no-gutters">
            <div class="col-4  p-0" *ngFor="let item of listReviews; let i = index">
                <a [routerLink]="['/home/review',item?._id]">
                    <div class="card m-3 shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">{{item?.title}} by {{nameUserReview[i]}}</h4>
                        </div>
                        <div class="card-body h5 mb-0 font-weight-bold text-gray-800">
                            <p>{{item?.testo}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>