<div class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col-12">
            <!-- Titolo -->
            <h2>Vote the note!</h2>
            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
                <!-- Selezione del numero di stelle -->
                <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i"
                    (click)="onClick(i+1)">
                    <mat-icon>
                        {{showIcon(i)}}
                    </mat-icon>
                </button>
                <h5>Score: {{this.rating}}</h5>
                <!-- Bottone submit-->
                <div class="justify-content-center text-center align-items-center">
                    <button type="submit" mat-button mat-raised-button [disabled]="!form.valid"
                        class=" mt-4 btn btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>