<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Header della pagina -->
    <div class="d-sm-flex align-items-center mb-4 mr-5">
        <h1 class="h3 mb-0 text-gray-800"> Active request</h1>

        <!-- Bottone per la creazione di una richiesta-->
    <button type="button" (click)="openDialog()" class="btn btn-primary mb-3 mt-3 ml-5"><i
        class="fas fa-plus fa-sm text-white-50 mr-3 "></i>New Request</button>
    </div>

    <!-- Spazio delle note -->
    <div class="row mb-4">

        <!-- Richiesta -->
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let item of listRequest">
            <a class="text-decoration-none" [routerLink]="['/home/richiesta',item?._id]">
                <div class="card card-hover shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                                    {{item?.title}}</div>
                                <div class=" h6 mt-2 font-weight-bold text-gray-800">{{item?.testo}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
