<div class="container-fluid m-0 p-0 vh-100 bg-dark">
    <div class="vh-100 m-0 p-0 d-flex justify-content-center align-items-center ">
        <!-- Card-->
        <div class="card-custom ">
            <div class="p-2 text-center m-3">
                <!-- Titolo -->
                <h1 id="title" class="text-dark">Log In</h1>
                <!-- Form -->
                <form [formGroup]="form" class="text-dark" (ngSubmit)="login()">
                    <!-- Inserire mail -->
                    <mat-form-field class="w-100">
                        <mat-label class="text-dark">Email</mat-label>
                        <input class="text-dark" formControlName="email" matInput placeholder="Email" />
                    </mat-form-field>
                    <!-- Inserire password -->
                    <mat-form-field class="w-100">
                        <mat-label class="text-dark">Password</mat-label>
                        <input class="text-dark" type="password" formControlName="password" matInput
                            placeholder="password" />
                    </mat-form-field>
                    <!-- Tasto submit-->
                    <button type="submit" [disabled]="!form.valid" class="mt-4 " color="primary" mat-raised-button>
                        Log in
                    </button>
                </form>

                <!-- Per registrarsi -->
                <h5 id="register" class="text-secondary mt-4" (click)="register()">New there? Please register!</h5>
                <h5>Or</h5>
                <h5 id="skip" class="text-secondary over-custom1" (click)="skip()">Skip <br>
                    <span class="text-secondary">You can only view and download notes</span>
                </h5>
                <!-- Spinner -->
                <mat-progress-spinner *ngIf="openSpinner" [diameter]="40" class="text-center" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>

    </div>
</div>