<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center d-flex">
            <h1 class="h3 justify-content-center text-center  mb-0 d-inline-block text-primary p-2 text-capitalize ">
                <strong>
                    User's Ranking</strong>
            </h1>
        </div>
        <div class="col-6 justify-content-center d-flex">
            <h1 class="h3 justify-content-center mb-0 text-center text-primary d-inline-block p-2 text-capitalize ">
                <strong>
                    Note's Ranking</strong>
            </h1>
        </div>
        <div class="col-6">
            <div class="line my-2 mx-4"></div>
            <!-- User Card-->
            <div class="mb-1 d-flex justify-content-center" *ngFor="let user of this.listUsers; index as i">
                <div class=" col-10 card-custom1  m-1 p-3" *ngIf="i<10">
                    <a class="text-decoration-none" [routerLink]="['/home/profile',user?._id]">
                        <div class=" h-100 py-2 ">
                            <div class="row no-gutters d-flex align-items-center ">
                                <div class="col-3  d-flex justify-content-center">
                                    <i class="fas fa-user text-center icon-custom1 fa-sm text-black-50 "></i>
                                </div>
                                <div class="d-flex col-4 align-items-center">
                                    <h3 class=" text-custom mt-2 ml-2 text-green text-capitalize">
                                        #{{i+1}} {{user?.name}}
                                    </h3>
                                </div>
                                <div class="col-5 d-flexalign-items-center ">
                                    <!-- Numero voti -->
                                    <div class="ml-5 d-flex justify-content-center row"><strong>Votes:
                                            {{user?.nvoti}}</strong></div>
                                    <div class="row">
                                        <!-- Rating -->
                                        <button mat-icon-button [color]="color"
                                            *ngFor="let ratingId of ratingArr;index as i">
                                            <mat-icon>
                                                {{showIcon(i, user?.rating)}}
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="line my-2 mx-4"></div>

            <!-- User Card-->
            <div class="mb-1 d-flex justify-content-center" *ngFor="let note of this.listNotes; index as i">
                <div class=" col-10 card-custom1  m-1 p-3" *ngIf="i<10">
                    <a class="text-decoration-none" [routerLink]="['/home/note',note?._id]">
                        <div class=" h-100 py-2 ">
                            <div class="row no-gutters d-flex align-items-center ">
                                <div class="col-3  d-flex justify-content-center">
                                    <i class="fas fa-file text-center icon-custom2 fa-sm text-black-50 "></i>
                                </div>
                                <div class="d-flex col-4 align-items-center">
                                    <h3 class=" text-custom mt-2 ml-2 text-capitalize">
                                        #{{i+1}} {{note?.title}}
                                    </h3>
                                </div>
                                <div class="col-5 d-flexalign-items-center ">
                                    <!-- Numero voti -->
                                    <div class="ml-5 d-flex justify-content-center row"><strong>
                                        Votes:: {{note?.nvoti}}</strong></div>
                                    <div class="row">
                                        <!-- Rating -->
                                        <button mat-icon-button [color]="color"
                                            *ngFor="let ratingId of ratingArr;index as i">
                                            <mat-icon>
                                                {{showIcon(i, note?.rating)}}
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>