.dim {
  width: fit-content;
  max-width: 90%;
}

h4{
  cursor: pointer;
}

.conversation-wrap {
  box-shadow: -2px 0 3px #ddd;
  padding: 0;
  max-height: 90vh;
  overflow: auto;
}

.conversation {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.message-wrap {
  box-shadow: 0 0 3px #ddd;
  padding: 0;
}

.msg {
  padding: 3px;
  margin: 0;
}

.msg-wrap {
  padding: 10px;
  max-height: 90vh;
  overflow: auto;
}

.time {
  color: #bfbfbf;
}

.send-wrap {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.send-message {
  resize: none;
}

.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.msg-wrap {
  color: #003bb3;
  font-weight: 700;
}

.media-heading {
  color: rgb(0, 0, 95);
  font-weight: 700;
}

.media-body1 {
  background-color: rgb(167, 192, 240);
  border-radius: 15px;
}

.media-body2 {
  background-color: rgb(255, 225, 181);
  border-radius: 15px;
}

.msg-date {
  background: none;
  text-align: center;
  color: #aaa;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}
