.btn-score{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.card-header{
    height: 57px;
    align-items: center;
}

.form-response{
    background-color: rgba(252, 252, 252, 0.966);
    position: fixed;
    top: 87%;
    width: 90%;
    z-index: 100;
  }
.view{
    height: 105px;
}
