<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="m-4 p-4">
                <!-- Titolo documento-->
                <h1><strong> {{richiesta?.title}}</strong></h1>
                <!-- Descizione -->
                <h2> {{richiesta?.testo}}</h2>
                <!-- Autore -->
                <div>
                    <h3 class="mb-1 text-capitalize"> Richiedente: <strong class="ml-1"> {{autore}}</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>