<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Header della pagina -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 p-2 text-primary text-capitalize"><strong> My {{convert(listNotes?.length)}} Notes</strong>
        </h1>
    </div>
    <div class="row">
        <div class="line my-2 mx-4"></div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Lista dei documenti pubblicati dall'utente -->
        <div class="col-xl-4 col-md-6 mb-4  " *ngFor="let item of listNotes">
            <button class="btn btn-danger btn-rel " (click)="delete(item?._id)">
                <i class="fas fa-trash"></i>
            </button>
            <a class="text-decoration-none " [routerLink]="['/home/note',item?._id]">
                <div class="card card-hover shadow h-100 ">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="row  no-gutters">
                            <h3 class="font-weight-bold m-0 text-primary text-center text-uppercase ">
                                {{item?.title}}
                            </h3>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Caso in cui l'utente non ha pubblicato nessuna nota -->
        <div class="d-sm-flex align-items-center justify-content-between py-2 px-4" *ngIf="noNotes">
            <h3 class="h3 mb-0 text-gray-600"> There is nothing here, try posting a document</h3>
        </div>
        <div class="d-sm-flex align-items-center px-4 py-2 justify-content-between " *ngIf="noNotes">
            <h3 class="h3 mb-0 text-gray-600"> Click on the "New Note" button to get started right away!</h3>
        </div>
    </div>
</div>