@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  background: #eee;
}

.product-rating {
  font-size: 30px;
}

.stars i {
  font-size: 13px;
  color: #ffd900;
}

.btn-rel {
  position: relative;
  background-color: transparent;
  color: red;
  border: 0px;
  opacity: 0.6;
  top: 42px;
  left: 11px;
  z-index: 100;
}
.btn-rel:hover {
  opacity: 0.8;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.2) !important;
}

.rating-text {
  margin-top: 10px;
}

.card-hover:hover {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  overflow-y: hidden;
  transform: scale(1);
  box-shadow: -1px 12px 22px 2px rgba(0, 0, 0, 0.2) !important;
}

.card-hover {
  height: 100px !important;
  overflow-y: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transform: scale(0.95);
}
