
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Header della pagina -->
    <div class="d-sm-flex align-items-center justify-content-left mb-4">
        <h1 class="h3 mb-0 text-black"> My Notes</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Lista dei documenti pubblicati dall'utente -->
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let item of listNotes">
            <a class="text-decoration-none" [routerLink]="['/home/note',item?._id]">
                <div class="card card-hover shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 font-weight-bold text-primary text-uppercase mb-1 ">
                                    {{item?.title}}</div>
                                <div class=" h6 mt-2 font-weight-bold text-gray-800 ">{{item?.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Caso in cui l'utente non ha pubblicato nessuna nota -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4" *ngIf="noNotes">
            <h3 class="h3 mb-0 text-gray-600"> There is nothing here, try posting a document</h3>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" *ngIf="noNotes">
            <h3 class="h3 mb-0 text-gray-600"> Click on the "New Note" button to get started right away!</h3>
        </div>
    </div>
</div>
