<div class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col-12">
            <!-- Titolo -->
            <h2>Insert the document</h2>
            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
                <!-- Insert Titolo-->
                <mat-form-field class="w-100" MatFormFieldControl>
                    <mat-label>Subject</mat-label>
                    <input formControlName="title" matInput placeholder="Subject" />
                </mat-form-field>
                <!-- Insert della description -->
                <mat-form-field class="w-100">
                    <mat-label>Description</mat-label>
                    <input type="text" formControlName="description" matInput
                        placeholder="Description (University, professor, academic year,.. )" />
                </mat-form-field>
                <!-- Lista delle categorie-->
                <mat-form-field class="w-100" MatFormFieldControl>
                    <mat-label>Add category</mat-label>
                    <mat-select formControlName="categoria">
                        <mat-option *ngFor="let cat of this.listCategorie" [value]="cat">{{cat}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Insert del file -->
                <div class="justify-content-center text-center align-items-center mb-4">
                    <input (change)="handleFileInput($event.target.files)" accept=".pdf" class="form-control"
                        formControlName="file" type="file" name="file">
                    <br>
                     <!-- Spinner -->
                     <mat-progress-spinner *ngIf="openSpinner" [diameter]="40" class="text-center" mode="indeterminate">
                    </mat-progress-spinner>
                    <br>
                    <!-- Tasto del submit -->
                    <button type="submit mt-4" mat-button mat-raised-button [disabled]="!form.valid"
                        class=" mt-4 btn btn btn-primary">
                        Submit
                    </button>
                   
                </div>
            </form>
        </div>
    </div>
</div>