<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Header della pagina -->
    <div class="d-sm-flex align-items-center justify-content-left mb-4">
        <h1 class="h3 mb-0 text-black"> Welcome {{nameUser}}!</h1>
        <!-- Rating del profilo -->
        <div class="content text-center">
            <span class="ml-5"> Your Score: </span>
            <div class="ratings ml-5"> <span class="product-rating h4"> {{ratingUser}} </span><span>/5</span>
                <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                        class="fa fa-star"></i> </div>
            </div>
        </div>
    </div>

    <!-- Spazio delle note -->
    <div class="row mb-4">

        <!-- Note -->
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let item of listNotes | filter:searchText">
            <a class="text-decoration-none" [routerLink]="['/home/note',item?._id]">
                <div class="card card-hover shadow h-100 py-2 {{item?.color}}">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                                    {{item?.title}}</div>
                                <div class=" h6 mt-2 font-weight-bold text-gray-800">{{item?.description}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>