.card-hover:hover {
  height: 100% !important;
  max-height: 200px !important;
  cursor: pointer;
  overflow-y: hidden !important;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transform: scale(1);
  box-shadow: -1px 12px 22px 2px rgba(0, 0, 0, 0.2) !important;
}

.card-hover {
  height: 92px !important;
  overflow-y: hidden !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transform: scale(0.95);
}

.stars i {
  font-size: 13px;
  color: #ffd900;
}
