<!-- Begin Page Content -->
<div class="container-fluid mb-4">

    <!-- Header della pagina -->
    <div class="d-sm-flex align-items-center justify-content-center mb-2">
        <h1 class="h3 mb-0 text-primary p-2 text-capitalize "> <strong> Welcome {{nameUser}}!</strong></h1>
    </div>

    <!-- Filtro -->
    <!-- Form -->
    <form [formGroup]="form" enctype="multipart/form-data">
        <!-- Filtra in base alla categoria-->
        <mat-form-field class="w-100" MatFormFieldControl>
            <mat-label>Select Categories</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let cat of categories" [value]="cat" [routerLink]="['/home/cat',cat]">{{cat}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <!-- Spazio delle note -->
    <div class="row mb-4">

        <!-- Note -->
        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let item of listNotes | filter:searchText">
            <a class="text-decoration-none" [routerLink]="['/home/note',item?._id]">
                <div class="card card-hover shadow h-100 py-2 {{item?.color}}">
                    <div class="card-body py-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="h5 font-weight-bold text-primary text-center text-md-start text-uppercase mb-1">
                                    {{item?.title}}</div>
                                <div class=" h6 mt-2 font-weight-bold text-gray-800">{{item?.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>